.history {
  .top_block.white .go_front {
    border-color: #A1A6AF;
    color: #A1A6AF;
  }
  .pagination {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    li {
      margin: 0px 4px;
      display: inline-block;
      a {
        font-size: 15px;
        line-height: 38px;
        width: 42px;
        display: inline-block;
        border: 1px solid #A1A6AF;
        color: #010211;
        padding: 0px;
        text-align: center;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
      }
      &.active {
        a, a:hover {
          color: white;
          background: #3B0F50;
          border: 1px solid #3B0F50;
        }
      }
      &:hover {
        a {
          background: #eee;
          border: 1px solid #A1A6AF;
        }
      }
    }
  }
  .history-header {
    margin-top: -133px;
    background: url('../../images/history/history_bg.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 220px;
    .container_inner {
      position: relative;
      .social-wrap {
        position: absolute;
        top: calc(100% + 40px);
        right: calc(100% + 40px);
        a {
          position: relative;
          display: block;
          width: 45px;
          height: 45px;
          background: #361750;
          margin-bottom: 1px;
          color: #fff;
          -webkit-transition: .2s;
          -moz-transition: .2s;
          -ms-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
        }
        a:hover {
          background: #b99c2d;
        }
      }
    }
    h1 {
      text-align: center;
      font: 60px 'Proxima Nova Regular', sans-serif;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      line-height: 70px;
      letter-spacing: 3px;
      text-shadow: 2px 6px 0 #3B1050;
    }
    h1::after {
      content: '';
      display: block;
      width: 70px;
      height: 6px;
      background: #C59D17;
      margin: 50px auto;
    }
    p {
      color: #fff;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
    }
    .btn-wrap {
      padding: 80px 0;
    }
    .btn-down {
      position: relative;
      display: block;
      width: 28px;
      height: 44px;
      margin: 0 auto;
      border-radius: 15px;
      border: 3px solid #C59D17;
      color: #C59D17;
      font-size: 17px;
      cursor: pointer;
      i {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .history-content {
    padding-top: 80px;
    img {
      display: block;
      width: 100%;
    }
    .urls {
      padding: 0;
      margin: 0;
      list-style: none;
      li:not(:last-child) {
        margin-bottom: 5px;
      }
      a {
        color: #00A2D6;
      }
    }
    .urls::after {
      content: '';
      display: block;
      width: 70px;
      height: 6px;
      background: #C59D17;
      margin: 50px 0;
    }
    .btn-wrap .btn {
      font-size: 15px;
      border-radius: 0px;
      line-height: 39px;
      padding: 0px 18px;
      border-color: #C59D17;
      background: #C59D17;
    }
    .history-block {
      h2 {
        margin-top: 50px;
        margin-bottom: 30px;
        font: 38px 'Proxima Nova Regular';
        font-weight: bold;
        color: #00A2D6;
        letter-spacing: 1px;
      }
      p {
        margin-bottom: 30px;
        font: 18px 'Proxima Nova Regular', sans-serif;
        line-height: 25px;
        strong {
          font-family: 'Proxima Nova Bl', sans-serif;
        }
      }
    }
    .h-t_with-imgR {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div:nth-child(1) {
        width: 42%;
      }
      >div:nth-child(2) {
        width: calc(55% + 50px);
        margin-right: -50px;
      }
    }
    .h-t_with-imgL {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      >div:nth-child(1) {
        width: 50%;
      }
      >div:nth-child(2) {
        width: 48%;
      }
    }
    .h-t_caption {
      display: block;
      max-width: 60%;
      margin-top: 20px;
      font-family: 'Proxima Nova Light', sans-serif;
      font-style: italic;
    }
    .with-btn {
      position: relative;
      .btn {
        position: absolute;
        bottom: 15px;
        left: 15px;
      }
      .btn.btn-warning {
        background: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-color: #F3BA00;
        color: #F3BA00;
        i {
          margin-left: 10px;
        }
      }
    }
    .purple-wrap {
      margin: 30px 0;
      .purple-block {
        position: relative;
        float: right;
        width: 70%;
        padding: 20px 80px 20px 140px;
        margin-right: -50px;
        border: 5px solid #3B1050;
        ::before {
          content: 'i';
          display: block;
          position: absolute;
          top: 15px;
          left: 15px;
          width: 40px;
          height: 40px;
          font-size: 24px;
          line-height: 40px;
          border: 2px solid #3B1050;
          text-align: center;
        }
        p {
          margin-bottom: 0;
          font-weight: bold;
          font-style: italic;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
    .purple-wrap::after {
      content: '';
      display: block;
      clear: both;
    }
    .only-img {
      margin: 30px -50px;
      .btn {
        left: 50px;
      }
      .h-t_caption {
        margin-left: 50px;
        max-width: 55%;
      }
    }
    .full-img {
      display: inline-block;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      margin-bottom: 50px;
      .full-img_caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
      }
    }
    .full-img::before {
      content: '';
      float: left;
      padding-top: 40%;
    }
    .slider_history {
      margin-bottom: 30px;
      .h-t_caption {
        max-width: 95%;
      }
      .owl-dots {
        position: absolute;
        top: 82%;
        right: 30px;
      }
      .owl-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background: #F3B900;
        margin-right: 15px;
      }
      .owl-dot:last-child {
        margin-right: 0;
      }
      .owl-dot.active {
        background: #00A2D6;
      }
    }
    .gallery-block2 {
      margin-bottom: 30px;
      .owl-dots {
        position: absolute;
        bottom: 20px;
        right: 30px;
      }
      .owl-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background: #F3B900;
        margin-right: 15px;
      }
      .owl-dot:last-child {
        margin-right: 0;
      }
      .owl-dot.active {
        background: #00A2D6;
      }
    }
  }
  .top_block .social {
      display: none;
  }

}
