.law {
  .top_block.white .go_front {
    border-color: #A1A6AF;
    color: #A1A6AF;
  }
  .law-header {
    margin-top: -133px;
    background: url('../../images/law.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 270px;
    .container_inner {
      position: relative;
      .social-wrap {
        position: absolute;
        top: calc(100% + 40px);
        right: calc(100% + 40px);
        a {
          position: relative;
          display: block;
          width: 45px;
          height: 45px;
          background: #361750;
          margin-bottom: 1px;
          color: #fff;
          -webkit-transition: .2s;
          -moz-transition: .2s;
          -ms-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
        }
        a:hover {
          background: #b99c2d;
        }
      }
    }
    h1 {
      text-align: center;
      font: 55px 'Proxima Nova', sans-serif;
      color: #fff;
      text-transform: uppercase;
      line-height: 39px;
      letter-spacing: 1px;
    }
    h1::after {
      content: '';
      display: block;
      width: 70px;
      height: 6px;
      background: #C59D17;
      margin: 50px auto;
    }
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 30px;
        line-height: 35px;
      }
    }
    p {
      color: #fff;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
    }
    @media screen and (max-width: 768px) {
      p {
        padding: 0 20px;
      }
    }
    .btn-wrap {
      padding: 80px 0;
    }
    .btn-down {
      position: relative;
      display: block;
      width: 28px;
      height: 44px;
      margin: 0 auto;
      border-radius: 15px;
      border: 3px solid #C59D17;
      color: #C59D17;
      font-size: 17px;
      cursor: pointer;
      i {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .law-content {
    padding-top: 80px;
    .urls {
      padding: 0;
      margin: 0;
      list-style: none;
      li:not(:last-child) {
        margin-bottom: 5px;
      }
      a {
        color: #00A2D6;
      }
    }
    .urls::after {
      content: '';
      display: block;
      width: 70px;
      height: 6px;
      background: #C59D17;
      margin: 30px 0;
    }
    .facts {
      padding: 0;
      margin: 0 0 30px;
      list-style: none;
      li:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    .btn-wrap .btn {
      font-size: 15px;
      border-radius: 0px;
      line-height: 39px;
      padding: 0px 18px;
      border-color: #C59D17;
      background: #C59D17;
    }
    .pagination {
      width: 100%;
      margin-top: 100px;
      text-align: center;
      li.prev a,
      li.prev span {
        background: transparent;
        font-size: 20px;
      }
      li.next a,
      li.next a {
        background: transparent;
        font-size: 20px;
      }
      li {
        margin: 0px 4px;
        display: inline-block;
        a {
          font-size: 15px;
          line-height: 38px;
          width: 42px;
          display: inline-block;
          border: 1px solid #A1A6AF;
          color: #010211;
          padding: 0px;
          text-align: center;
        }
        &.active {
          a {
            color: white;
            background: #3B0F50;
            border: 1px solid #3B0F50;
          }
        }
        &.next,&.prev {
          a {
            border:1px solid transparent;
          }
          span {
            border:1px solid transparent;
            line-height: 38px;
            width: 38px;
            text-align: center;
            display: inline-block;
            padding: 0px;
          }
        }
      }
    }
    .law-text {
      margin-top: 70px;
      h2 {
        margin-bottom: 30px;
        font: 35px 'Proxima Nova Regular';
        font-weight: bold;
        color: #00A2D6;
        letter-spacing: 1px;
      }
      p {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
      }
      ul, ol {
        margin: 0;
        padding: 0 0 0 25px;
        list-style: decimal;
        li {
          margin-bottom: 25px;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.law {
  .top_block .social {
    display: none;
  }
}
@media screen and (max-width:1150px){
  .law .law-header .container_inner .social-wrap {
    top: calc(100% + 20px);
    right: auto;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    a {
      margin-right: 1px;
    }
  }
}
@media screen and (max-width:1000px){
  .container_inner {
    padding: 0 20px;
  }
  .law .law-header .container_inner .social-wrap {
    left: 20px;
  }
}