.clear {
	clear: both;
}
.top_block {
	padding-top: 51px;
	text-align: center;
	.tass_logo {
		float: left;
	}
	.social {
		float: right;
		padding-top: 33px;
		padding-right: 4px;
		.fb {
			display: inline-block;
			background: url('../../images/fb_ico.png') center bottom no-repeat;
			width: 20px;
			height: 20px;
		}
		.vk {
			display: inline-block;
			background: url('../../images/vk_ico.png') center bottom no-repeat;
			width: 20px;
			height: 20px;
			margin-left: 31px;
		}
	}
	.go_front {
		border: 1px solid #a1a4ad;
	    color: #010211;
	    position: relative;
	    top: 29px;
	    line-height: 38px;
	    display: inline-block;
	    padding: 0px 42px;
	    position: relative;
		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 13px;
			position: absolute;
		    top: 12px;
		    left: 25px;
			background: url('../../images/arrow_left_ico.png') center bottom no-repeat;
		}
	}
}
.container_inner {
	width: 934px;
	margin: 0 auto;
}
.wrap {
	background: #eeeff1;
}
.compare {
	color: #010211;
	
	h1 {
		text-align: center;
		font-family: "Proxima Nova";
		font-size: 40px;
		font-weight: bold;
		color: #010211;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
	}
	.items_wrap {
		.item {
			padding-bottom: 36px;
			.item_title {
				font-size: 30px;
				font-family: "Proxima Nova"; 
				font-weight: 100;
				text-transform: uppercase;
				text-align: center;
			}
			.item_img_logo {
				padding-top: 12px;
				text-align: center;
				padding-bottom: 26px;
			}
			.two_part {
				display: flex;
				justify-content: space-between;
				.item_img {
					position: relative;
					&.item_img_padding {
						padding-top: 35px;
					}
					.read_more {
						background: url('../../images/read_more_ico.jpg');
						display: block;
						width: 45px;
						height: 45px;
						background-repeat: no-repeat;
						position: absolute;
						right: 18px;
						bottom: 18px;
					}
					img {
						display: block;
						margin: 0 auto;
						max-width: 100%;
						height: auto;
					}
				}
				.item_part {
					width: calc(50% - 21px);
					border-top: 2px solid #2e3346;
					padding-bottom: 35px;
					background: white;
					p {
						padding: 0px 32px;
					    font-size: 18px;
					    font-family: "Proxima Nova";
					    font-weight: 300;
					    padding-top: 27px;
					    line-height: 30px;
					    padding-right: 20px;
    					margin-bottom: 0px;
					}
				}
			}
		}
	}
}
.renovation {
	color: #010211;
	
	h1 {
		text-align: center;
		font-family: "Proxima Nova";
		font-size: 40px;
		font-weight: bold;
		color: #010211;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
	}
	.top_text {
		font-size: 18px;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 42px;
		line-height: 30px;
	}
	.select_area {
		font-size: 15px;
		padding-top: 51px;
		a {
			font-size: 15px;
			border-radius: 0px;
    		line-height: 39px;
    		padding: 0px 18px;
    		margin-left: 16px;
			&.include {
				color: white;
				background: #003878;
				border: 1px solid #003878;
			}
			&.start {
				border: 1px solid #c19f63;
				background: none;
				color: #010211;
				
			}
		}
	}
	#object-map {
		margin-top: 19px;
	}
	.areas_table {
		font-family: "Proxima Nova";
		.title_table {
			font-family: "Proxima Nova";
			font-size: 40px;
			font-weight: 300;
			padding-top: 58px;
			padding-bottom: 23px;
		}
		.summary {
			display: none;
		}
		table {
			border: 1px solid #eeeff1;
			thead {
				th {
					background: #003878;
					color: white;
					padding: 17px 23px;
					&:nth-child(2) {
						min-width: 130px;
					}
					a {
						color: white;
						font-size: 18px;
						font-weight: 300;
						&:after {
							background: url('../../images/table_sort.png');
							content: '';
							display: inline-block;
							width: 13px;
							height: 8px;
							margin-left: 11px;
						}
					}
				}
				td {
					padding: 0px;
					input {
						height: 60px;
						border: 0px;
						font-size: 18px;
					}
					select {
						height: 60px;
						border: 0px;
						font-size: 18px;
						width: 100%;
					}
				}
			}
			th {
				border: 1px solid #eeeff1;
			}
			tbody {
				tr {
					&:nth-child(2n-1) {
						td {
							background: #b29d7e;
						}
					}
					td {
						font-size: 18px;
					}
				}
			}
			td {
				border: 1px solid #eeeff1;
				padding: 17px 23px;
				vertical-align: middle;
			}
		}
		.pagination {
			width: 100%;
			text-align: center;
			li {
				margin: 0px 4px;
				display: inline-block;
				a {
					font-size: 15px;
					line-height: 38px;
					width: 38px;
					display: inline-block;
					border: 1px solid #a1a4ad;
					color: #010211;
					padding: 0px;
					text-align: center;
				}
				&.active {
					a {
						color: white;
						background: #2e3346;
						border: 1px solid #2e3346;
					}
				}
				&.next,&.prev {
					a {
						border:1px solid transparent;
					}
					span {
						border:1px solid transparent;
						line-height: 38px;
						width: 38px;
						text-align: center;
						display: inline-block;
						padding: 0px;
					}
				}
			}
		}
	}
}
.grid_wrap {
    margin-top: 62px;
    background: white;
    padding-top: 13px;
}
.gallery {
	color: #010211;
	font-family: "Proxima Nova";
	h1 {
		font-family: "Proxima Nova";
	    font-size: 40px;
	    font-weight: bold;
	    color: #010211;
	    text-transform: uppercase;
	    margin-top: 5px;
	    margin-bottom: 19px;
	    line-height: 50px;
	}
	.small_title {
		color: #a1a4ad;
		font-size: 18px;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 94px;
	}
	.grid_item {
		//width: 50%;
		width: 50%;
		  padding: 9px;
		  //float: left;
		img {
			width: 100%;
			height: auto;
		}
	}
	.slider_gallery_wrap {
		background: #c01a24;
		padding: 58px 96px;
		box-sizing: border-box;
		height: 473px;
		.slider_gallery {
			padding-top: 36px;
		}
		.small {
			color: #5b0c11;
			font-size: 18px;
			font-weight: 300;
		}
		.slider_gallery_item {
			height: 240px;
			a {
				font-size: 40px;
				color: white;
				font-weight: 300;
				line-height: 50px;
				text-decoration: none;
				word-spacing: -3px;
			}
		}
		.owl-dots {
			padding-top: 17px;
			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #5b0c11;
				border-radius: 50%;
				float: left;
				margin-right: 40px;
			}
			.active {
				span {
					background: white;
				}
			}
		}
	}
	.gallery_name {
		background: #2e3346;
		padding: 75px 56px;
		padding-bottom: 89px;
		.small {
			font-size: 18px;
			color: #a1a4ad;
			font-weight: 300;
		}
		.text {
			font-size: 40px;
			color: white;
			font-weight: 300;
			line-height: 40px;
			padding-top: 11px;
		}
	}
}