.clear {
	clear: both;
}
.header {
	background: white;
	.logo {
		float: left;
	}
	ul {
		padding: 0px;
		margin: 0px;
		display: flex;
		list-style: none;
		justify-content: space-between;
		li {
			line-height: 66px;
		}
		a {
			font-family: "Proxima Nova";
			color: #010211;
			font-size: 15px;
			font-weight: 300;
			&.active {
				color: #003878;
			}
		}
	}
}
.top_block {
	padding-top: 51px;
	text-align: center;
	.tass_logo {
		float: left;
	}
	.social {
		float: right;
		padding-top: 33px;
		padding-right: 4px;
		.fb {
			display: inline-block;
			background: url('../../images/fb_ico.png') center bottom no-repeat;
			width: 20px;
			height: 20px;
		}
		.vk {
			display: inline-block;
			background: url('../../images/vk_ico.png') center bottom no-repeat;
			width: 20px;
			height: 20px;
			margin-left: 31px;
		}
	}
	.go_front {
		border: 1px solid #a1a4ad;
	    color: #010211;
	    position: relative;
	    top: 29px;
	    line-height: 38px;
	    display: inline-block;
	    padding: 0px 42px;
	    position: relative;
		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 13px;
			position: absolute;
		    top: 12px;
		    left: 25px;
			background: url('../../images/arrow_left_ico.png') center bottom no-repeat;
		}
	}
}
.container_inner {
	width: 934px;
	margin: 0 auto;
}
.wrap {
	background: #eeeff1;
}
.compare {
	color: #010211;
	
	h1 {
		text-align: center;
		font-family: "Proxima Nova";
		font-size: 40px;
		font-weight: bold;
		color: #010211;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
	}
	.items_wrap {
		.item {
			padding-bottom: 36px;
			.item_title {
				font-size: 30px;
				font-family: "Proxima Nova"; 
				font-weight: 100;
				text-transform: uppercase;
				text-align: center;
			}
			.item_img_logo {
				padding-top: 12px;
				text-align: center;
				padding-bottom: 26px;
			}
			.two_part {
				display: flex;
				justify-content: space-between;
				.item_img {
					position: relative;
					&.item_img_padding {
						padding-top: 35px;
					}
					.read_more {
						background: url('../../images/read_more_ico.jpg');
						display: block;
						width: 45px;
						height: 45px;
						background-repeat: no-repeat;
						position: absolute;
						right: 18px;
						bottom: 18px;
					}
					img {
						display: block;
						margin: 0 auto;
						max-width: 100%;
						height: auto;
					}
				}
				.item_part {
					width: calc(50% - 21px);
					border-top: 2px solid #2e3346;
					padding-bottom: 35px;
					background: white;
					p {
						padding: 0px 32px;
					    font-size: 18px;
					    font-family: "Proxima Nova";
					    font-weight: 300;
					    padding-top: 27px;
					    line-height: 30px;
					    padding-right: 20px;
    					margin-bottom: 0px;
					}
				}
			}
		}
	}
}
.renovation {
	color: #010211;
	
	h1 {
		text-align: center;
		font-family: "Proxima Nova";
		font-size: 40px;
		font-weight: bold;
		color: #010211;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
	}
	.top_text {
		font-size: 18px;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 42px;
		line-height: 30px;
	}
	.select_area {
		font-size: 15px;
		padding-top: 51px;
		a {
			font-size: 15px;
			border-radius: 0px;
    		line-height: 39px;
    		padding: 0px 18px;
    		margin-left: 16px;
			&.include {
				color: white;
				background: #003878;
				border: 1px solid #003878;
			}
			&.start {
				border: 1px solid #c19f63;
				background: none;
				color: #010211;
				
			}
		}
	}
	#object-map {
		margin-top: 19px;
	}
	.areas_table {
		font-family: "Proxima Nova";
		.title_table {
			font-family: "Proxima Nova";
			font-size: 40px;
			font-weight: 300;
			padding-top: 58px;
			padding-bottom: 23px;
		}
		.summary {
			display: none;
		}
		table {
			border: 1px solid #eeeff1;
			thead {
				th {
					background: #003878;
					color: white;
					padding: 17px 23px;
					&:nth-child(2) {
						min-width: 130px;
					}
					a {
						color: white;
						font-size: 18px;
						font-weight: 300;
						&:after {
							background: url('../../images/table_sort.png');
							content: '';
							display: inline-block;
							width: 13px;
							height: 8px;
							margin-left: 11px;
						}
					}
				}
				td {
					padding: 0px;
					input {
						height: 60px;
						border: 0px;
						font-size: 18px;
					}
					select {
						height: 60px;
						border: 0px;
						font-size: 18px;
						width: 100%;
					}
				}
			}
			th {
				border: 1px solid #eeeff1;
			}
			tbody {
				tr {
					&:nth-child(2n-1) {
						td {
							background: #b29d7e;
						}
					}
					td {
						font-size: 18px;
					}
				}
			}
			td {
				border: 1px solid #eeeff1;
				padding: 17px 23px;
				vertical-align: middle;
			}
		}
		.pagination {
			width: 100%;
			text-align: center;
			li {
				margin: 0px 4px;
				display: inline-block;
				a {
					font-size: 15px;
					line-height: 38px;
					width: 38px;
					display: inline-block;
					border: 1px solid #a1a4ad;
					color: #010211;
					padding: 0px;
					text-align: center;
				}
				&.active {
					a {
						color: white;
						background: #2e3346;
						border: 1px solid #2e3346;
					}
				}
				&.next,&.prev {
					a {
						border:1px solid transparent;
					}
					span {
						border:1px solid transparent;
						line-height: 38px;
						width: 38px;
						text-align: center;
						display: inline-block;
						padding: 0px;
					}
				}
			}
		}
	}
}
.grid_wrap {
    margin-top: 62px;
    background: white;
    padding-top: 13px;
}
.gallery {
	color: #010211;
	font-family: "Proxima Nova";
	h1 {
		font-family: "Proxima Nova";
	    font-size: 40px;
	    font-weight: bold;
	    color: #010211;
	    text-transform: uppercase;
	    margin-top: 5px;
	    margin-bottom: 19px;
	    line-height: 50px;
	}
	.small_title {
		color: #a1a4ad;
		font-size: 18px;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 94px;
	}
	.grid_item {
		//width: 50%;
		width: 50%;
		  padding: 9px;
		  //float: left;
		img {
			width: 100%;
			height: auto;
		}
	}
	.slider_gallery_wrap {
		background: #c01a24;
		padding: 58px 96px;
		box-sizing: border-box;
		height: 473px;
		.slider_gallery {
			padding-top: 36px;
		}
		.small {
			color: #5b0c11;
			font-size: 18px;
			font-weight: 300;
		}
		.slider_gallery_item {
			height: 240px;
			a {
				font-size: 40px;
				color: white;
				font-weight: 300;
				line-height: 50px;
				text-decoration: none;
				word-spacing: -3px;
			}
		}
		.owl-dots {
			padding-top: 17px;
			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #5b0c11;
				border-radius: 50%;
				float: left;
				margin-right: 40px;
			}
			.active {
				span {
					background: white;
				}
			}
		}
	}
	.gallery_name {
		background: #2e3346;
		padding: 75px 56px;
		padding-bottom: 89px;
		.small {
			font-size: 18px;
			color: #a1a4ad;
			font-weight: 300;
		}
		.text {
			font-size: 40px;
			color: white;
			font-weight: 300;
			line-height: 40px;
			padding-top: 11px;
		}
	}
}
#cboxContent {
	background: none;
}
#cboxLoadedContent {
	background: none;
}
#cboxTitle {
	display: none;
}
.gallery_popup {
	img {
		max-width: 100%;
		height: auto;
	}
	.popup_text {
		font-size: 30px;
		color: #ffffff;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 46px;
	}
	.close {
		float: none;
		padding-top: 20px;
		opacity: 1;
		img {
			width: 150px;
			height: 150px;
			margin: 0 auto;
			display: block;
		}
	}
}
#cboxOverlay {
	background: #2e3346;
	opacity: 0.9;
}
.popups_info {
	display: none;
}
.gallery_inline {
	position: relative;
	display: block;
	&:before {
		content: '';
		display: none;
		background: rgba(0, 56, 120, 0.4) url('../../images/gallery_open.svg') center no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&:hover {
		&:before {
			display: block;
		}
	}
	
}

.bottom_gallery {
	padding-top: 122px;
	.title_bottom_gallery {
		font-size: 15px;
		color: #000108;
		font-family: "Proxima Nova";
		font-weight: 300;
		text-align: center;
		padding: 0px 10px;
		padding-bottom: 29px;
	}
	.bottom_gallery_img {
		position: relative;
		.bottom_gallery_video {
			display: block;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0, 56, 120, 0.4) url('../../images/gallery_bottom_play.png') center no-repeat;
			}
		}
		iframe {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%; 
			display: none;
		}
	}
}

.footer {
	background: url('../../images/footer_img.jpg') center no-repeat;
	background-size: cover;
	.text_wrap {
		text-align: center;
	    max-width: 684px;
	    margin: 0 auto;
	    padding-top: 36px;
	    line-height: 17px;
	    padding-bottom: 5px;
		p {
			font-size: 14px;
			color: white;
			font-family: "Proxima Nova";
			font-weight: 300;
			margin-bottom: 0px;
			padding-bottom: 34px;
		}
	}
}

.front {
	.tass_logo {
		display: none;
	}
	.grid_wrap {
		margin-top: 49px;
	}
	.front_text {
		text-align: center;
		position: relative;
    	top: -29px;
		h1 {
			color: #283045;
			font-family: "Proxima Nova";
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 22px;
			letter-spacing: 0px;
			font-size: 40px;
			line-height: 49px;
		}
		.logo_big {
			display: inline-block;
			margin: 0 auto;
		}
	}
	.grid_item {
		//width: 50%;
		width: 50%;
		  padding: 9px;
		  //float: left;
		img {
			width: 100%;
			height: auto;
		}
	}
	.map {
		.text_info {
			position: absolute;
		    bottom: 0px;
		    left: 0px;
		    width: 100%;
		    padding: 59px 54px;
		    padding-top: 0px;
		}
		.small {
			color: #010211;
			font-size: 18px;
			font-family: "Proxima Nova";
			font-weight: 300;
			padding-bottom: 11px;
		}
		a {
			color: #010211;
			font-size: 40px;
			font-family: "Proxima Nova";
			font-weight: 700;
			line-height: 39px;
			word-spacing: -6px;
			text-decoration: none;
		}
	}
	.text1 {
		.block_text {
			background: #003878;
			padding: 68px 56px;
			padding-right: 100px;
			padding-bottom: 95px;
		}
		.small {
			color: #010211;
			font-size: 18px;
			font-family: "Proxima Nova";
			font-weight: 300;
		}
		.text {
			padding-top: 17px;
		}
		a {
			color: white;
			font-size: 40px;
			font-family: "Proxima Nova";
			line-height: 49px;
			clear: both;
			text-decoration: none;
		}
	}
	.article {
		.small {
			color: #010211;
			font-size: 18px;
			font-family: "Proxima Nova";
			font-weight: 300;
		}
		a {
			color: #010211;
			font-size: 40px;
			font-family: "Proxima Nova";
			font-weight: 700;
			line-height: 39px;
			word-spacing: -6px;
			text-decoration: none;
		}
		.text_info {
			position: absolute;
		    bottom: 0px;
		    left: 0px;
		    width: 100%;
		    padding: 59px 54px;
		    padding-top: 0px;
		}
	}
	.text2 {
		display: flex;
		justify-content:space-between;
		.small {
			color: #010211;
			font-size: 18px;
			font-family: "Proxima Nova";
			font-weight: 300;
		}
		a {
			color: white;
			font-size: 40px;
			font-family: "Proxima Nova";
			line-height: 39px;
			text-decoration: none;
		}
		.part1 {
			background: #b29d7e;
		}
		.part2 {
			background: #c01a28;
		}
		.part {
			width: calc(50% - 13px);
			.block_text {
				padding: 93px 32px;
				padding-bottom: 97px;
				.text {
					padding-top: 13px;
				}
			}
		}
	}
	.slider_front_item {
		.slider_front {
			img {
				width: 100%;
				height: auto;
			}
		}
		.owl-prev {
			background: url('../../images/front_slider_left.png') center no-repeat;
			text-indent: -9999px;
			display: block;
			width: 54px;
			height: 54px;
			position: absolute;
		    top: 50%;
		    margin-top: -27px;
		    left: 42px;
		}
		.owl-next {
			background: url('../../images/front_slider_right.png') center no-repeat;
			text-indent: -9999px;
			display: block;
			width: 54px;
			height: 54px;
			position: absolute;
		    top: 50%;
		    margin-top: -27px;
		    right: 42px;
		}
		.owl-dots {
			position: absolute;
			bottom: 27px;
			left: 49px;
			.owl-dot {
				float: left;
				margin-right: 40px;
				span {
					display: inline-block;
					width: 10px;
					height: 10px;
					background: #c19f63;
					border-radius: 50%;
				}
				&.active {
					span {
						background: white;
					}
				}
			}
		}
	}
	.video {
		position: relative;
		.bottom_video {
			position: relative;
			display: block;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0, 56, 120, 0.4) url('../../images/gallery_bottom_play.png') center no-repeat;
			}
		}
		iframe {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%; 
			display: none;
		}
	}
}