.timeline {
	font-family: "Proxima Nova";
	color: #010211;

	.top_block {
		padding-top: 0px;
	}
	
	h1 {
		text-align: center;
		font-size: 40px;
		color: #010211;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
		@media screen and (max-width: 1000px) {
			font-size: 30px;
			padding-left: 20px;
			padding-right: 20px;
			line-height: 40px;
		}
	}
    
    .sliderbox {
		position: relative;
		display: flex;
    	flex-direction: row;
		 -webkit-transition: margin-left 1s ease-out;
		       -moz-transition: margin-left 1s ease-out;
		         -o-transition: margin-left 1s ease-out;
			        transition: margin-left 1s ease-out;
		.item {
			cursor: pointer;
			.date {
				padding: 30px 0 0 30px;
				height: 100px;
				.date-item {
					color: #dbc8ae;
					font-size: 18px;
					line-height: 24px;	
				}
			}
			&.active > .date {
				padding-top: 0px;
			}
		
			&.active > .date > .date-item {
				font-size: 40px;
				line-height: 40px;
			}

			.hr {
				border: 1.6px solid #dbc8ae;
			}
			
			.description {
		    	margin: 0 100px 0 0;
				width: 510px;
				height: 500px;
				background: #fff;

				.dot {
					position: absolute;
    				background-color: #fff;
    				border: 3px solid #dbc8ae;
    				border-radius: 18px;
    				height: 26px;
    				width: 26px;
    				margin: -13px 0 0 15px;					
				}

				.dot + p {
					padding-top: 40px;
					padding-bottom: 20px;
				}

				p {
				    font-family: "Proxima Nova Light";
				    font-size: 18px;
				    line-height: 30px;
					padding: 0 30px;
					margin: 0;
				}

				.circle {
					opacity: 0;
					transition: opacity 2.1s ease-out;					
					pointer-events: none;
				}

				.active {
					pointer-events: unset;
					opacity: 1;
					display: block;
					position: absolute;
					top: 75%;
					border: 2px solid #dbc8ae;
					border-radius: 50%;
					cursor: pointer;
					font-size: 20px;
					line-height: 50px;
					text-align: center;
					height: 125px;
					width: 125px;

					&.fl {
						margin-left: -65px;
					}

					&.fr {
						margin-left: 445px;
					}

					.prev, .next {
						border-radius: 50%;
						background-color: #dbc8ae;
						height: 50px;
						width: 50px;
						margin: 35px;
						transition: transform .5s;
					}

					&:hover {
						.prev, .next {
							transform: scale(1.3);
						}
					}
				}

			}
		}

		.item:first-child {
			margin-left: 335px;
			
		}

		.item:last-child {
			.hr {
			    width: 510px;
			}
		}
	}
	
}

$scrollBarHeight: 0px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}