.wrap {
	overflow-x: hidden;
}

.timeline {
	color: #010211;

	.top_block {
		padding-top: 0px;
	}
	
	h1 {
		text-align: center;
		font: 55px 'Proxima Nova', sans-serif;
		color: #3B0F50;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 50px;
		line-height: 39px;
		span {
			display: block;
			margin-top: 10px;
			font-size: 0.6em;
		}
			@media screen and (max-width: 1000px) {
				font-size: 22px;
			}
		@media screen and (max-width: 1000px) {
			font-size: 35px;
			padding-left: 20px;
			padding-right: 20px;
			line-height: 40px;
		}
	}
    
    .sliderbox {
		position: relative;
		display: flex;
		flex-direction: row;
		 -webkit-transition: margin-left 1s ease-out;
		       -moz-transition: margin-left 1s ease-out;
		         -o-transition: margin-left 1s ease-out;
			        transition: margin-left 1s ease-out;
		.item {
			position: relative;
			cursor: pointer;
			.image img {
				display: block;
				width: 100%;
			}
			.date {
				padding: 30px 0 0 30px;
				height: 120px;
				.date-item {
					color: #010211;
					font-size: 18px;
					line-height: 24px;
					transition: .2s;
				}
			}

			&.active .dot {
				background-color: #C39C17 !important;
				border-color: #fff !important;
			}
		
			&.active .date .date-item {
				font: 33px 'Proxima Nova Bl', sans-serif;
				line-height: 30px;
				color: #C59D17;
			}

			.hr {
				border: 3px solid #fff;
			}
			
			.description {
		    	margin: 0 100px 0 0;
				padding-bottom: 30px;
				width: 510px;
				height: 100%;
				background: #fff;
				.dot {
					position: absolute;
					top: 4px;
					left: 0;
    				background-color: #fff;
    				border: 3px solid #D9D9D9;
    				border-radius: 50%;
    				height: 26px;
    				width: 26px;
				}

				.dot + p {
					padding-top: 40px;
					padding-bottom: 20px;
				}

				p {
				    font-family: "Proxima Nova Light";
				    font-size: 18px;
				    line-height: 30px;
					padding: 0 30px;
					margin: 0;
				}

				.circle {
					opacity: 0;
					transition: opacity 1s ease-out;
					pointer-events: none;
					width: 0;
					height: 0;
				}

				.active {
					pointer-events: unset;
					opacity: 1;
					position: absolute;
					top: 35%;
					border: 1px solid #3B1050;
					border-radius: 50%;
					cursor: pointer;
					font-size: 20px;
					line-height: 50px;
					text-align: center;
					height: 125px;
					width: 125px;

					&.fl {
						margin-left: -65px;
					}

					&.fr {
						margin-left: 445px;
					}

					.prev, .next {
						position: absolute;
						width: 100%;
						height: 100%;
						color: #fff;
						transition: transform .5s;
					}
					.prev::after, .next::after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 45px;
						height: 45px;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						background: #3B1050;
						transform: translate(-50%, -50%);
						transition: .2s;
						z-index: 0;
					}
					.prev i, .next i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
					}

					&:hover {
						.prev::after, .next::after {
							width: 55px;
							height: 55px;
						}
					}
				}
			}

			@media screen and (min-width: 1366px) and (max-width: 1599px) {
				.date {
					padding: 25.5px 0 0 25.5px;
					height: 120px;
					.date-item {
						font-size: 15.3px;
						line-height: 20.4px;	
					}
				}

				&.active > .date {
					padding-top: 10px;
				}
			
				&.active > .date > .date-item {
					font-size: 34px;
					line-height: 34px;
				}
			
				.description {
		    		margin: 0 85px 0 0;
					width: 433.5px;
					height: 100%;

					.dot {
    					height: 22.1px;
    					width: 22.1px;
    					margin: -12px 0 0 12.75px;
					}

					.dot + p {
						padding-top: 34px;
						padding-bottom: 16px;
					}

					p {
					    font-size: 16px;
					    line-height: 26px;
						padding: 0 26px;
					}

					.active {
						font-size: 18px;
						line-height: 42px;
						height: 106.25px;
						width: 106.25px;

						&.fl {
							margin-left: -55.25px;
						}

						&.fr {
							margin-left: 378.25px;
						}
					}
				}
			}

			@media screen and (min-width: 1280px) and (max-width: 1365px) {
				.date {
					padding: 22.5px 0 0 22.5px;
					height: 75px;
					.date-item {
						font-size: 13.5px;
						line-height: 18px;	
					}
				}

				&.active > .date {
					padding-top: 5px;
				}
			
				&.active > .date > .date-item {
					font-size: 30px;
					line-height: 30px;
				}

				.description {
		    		margin: 0 75px 0 0;
					width: 382.5px;

					.dot {
    					border: 2.25px solid #dbc8ae;
    					height: 19.5px;
    					width: 19.5px;
    					margin: -11px 0 0 11.25px;
					}

					.dot + p {
						padding-top: 30px;
						padding-bottom: 15px;
					}

					p {
					    font-size: 13.5px;
					    line-height: 22.5px;
						padding: 0 22.5px;
					}

					.active {
						font-size: 15px;
						line-height: 37.5px;
						height: 93.75px;
						width: 93.75px;

						&.fl {
							margin-left: -48.75px;
						}

						&.fr {
							margin-left: 333.75px;
						}
					}
				}
			}

			@media screen and (min-width: 768px) and (max-width: 1279px){
				.date {
					padding: 21px 0 0 21px;
					height: 70px;
					.date-item {
						font-size: 12.6px;
						line-height: 16.8px;	
					}
				}

				&.active > .date {
					padding-top: 2.5px;
				}
			
				&.active > .date > .date-item {
					font-size: 28px;
					line-height: 28px;
				}

				.description {
		    		margin: 0 70px 0 0;
					width: 357px;

					.dot {
    					border: 2.1px solid #dbc8ae;
    					height: 18.2px;
    					width: 18.2px;
    					margin: -10px 0 0 10.5px;					
					}

					.dot + p {
						padding-top: 28px;
						padding-bottom: 14px;
					}

					p {
					    font-size: 12.6px;
					    line-height: 21px;
						padding: 0 21px;
					}

					.active {
						height: 87.5px;
						width: 87.5px;

						&.fl {
							margin-left: -45.5px;
						}

						&.fr {
							margin-left: 311.5px;
						}
					}
				}
			}
			@media screen and (min-width: 501px) and (max-width: 767px){
				.description {
					.dot {
						height: 25px;
						width: 25px;
						top: 1px;
						margin: -10px 0 0 10.5px;
					}
				}
			}
		}

		.item:last-child {
			.hr {
			    width: 510px;
			}
			@media screen and (min-width: 1366px) and (max-width: 1599px) {
				.hr {
					width: 433.5px;	
				}			
			}			
			@media screen and (min-width: 1280px) and (max-width: 1365px) {
				.hr {
					width: 382.5px;	
				}			
			}			
			@media screen and (min-width: 768px) and (max-width:1279px) {
				.hr {
					width: 357px;	
				}			
			}			
		}
	}
	
}

$scrollBarHeight: 0px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}
@media screen and (max-width: 500px) {
	.timeline .sliderbox .item .description {
		width: 320px;
		position: relative;
		padding-bottom: 80px;
		.fl {
			left: 2px;
			top: 20%;
			width: 55px;
			height: 55px;
			margin: 0 !important;
		}
		.fr {
			right: 2px;
			top: 20%;
			width: 55px;
			height: 55px;
			margin: 0 !important;
		}
		.fl.active, .fr.active {
			opacity: .5;
		}
		.dot {
			height: 25px;
			width: 25px;
			top: -4px;
			margin: -10px 0 0 10.5px;
		}
	}
}