.clear {
	clear: both;
}
body {
	min-width: 480px;
	font-family: 'Proxima Nova Light', sans-serif;
}
.btn-transparent {
	border-color: #0082A8;
	box-shadow: none !important;
	color: #010211;
}
.top_block {
	padding-top: 51px;
	text-align: center;
	position: relative;
	min-height: 113px;
	.tass_logo {
		float: left;
		position: absolute;
		top: 0px;
		left: -15px;
		width: 110px;
	}
	&.white {
		.social {
			a {
				color: white;
			}
		}
		.go_front {
			color: #3B0F50;
			border: 1px solid #3B0F50;
		}
	}
	.social {
		float: right;
    	position: absolute;
    	right: 2px;
    	top: 36px;
		a {
			margin-left: 38px;
			color: #003878;
			font-size: 17px;
			transition: all 0.3s linear;
			&:nth-child(1) {
				margin-left: 0px;
			}
			&:hover {
				color: #E1C6A9;
			}
		}
		@media screen and (max-width: 999px) {
			float: right;
		    position: absolute;
		    right: 29px;
		    top: 34px;
		    text-align: right;
		    width: 119px;
		    a {
		    	display: inline-block;
		    	margin-bottom: 27px;
		    }
		}
	}
	.go_front {
		border: 1px solid #a1a4ad;
	    color: #010211;
	    position: relative;
	    top: 29px;
	    line-height: 38px;
	    display: inline-block;
	    padding: 0px 42px;
	    position: relative;
	    i {
			margin-right: 10px;
			position: relative;
			top: 2px;
			font-size: 22px;
	    }
	}
}
.container_inner {
	width: 934px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	@media screen and (max-width: 933px) {
		width: 100%;
	}

}
.wrap {
	width: 100%;
	background: #EEEFF3;
	overflow: hidden;
}


.grid_wrap {
    margin-top: 62px;
    background: white;
    padding-top: 13px;
}

#cboxContent {
	background: none;
}
#cboxLoadedContent {
	background: none;
}
#cboxTitle {
	display: none;
}
.gallery_popup {
	img {
		max-width: 100%;
		height: auto;
	}
	.popup_text {
		font-size: 30px;
		color: #ffffff;
		font-family: "Proxima Nova";
		font-weight: 300;
		padding-top: 46px;
	}
	.close {
		float: none;
		padding-top: 20px;
		opacity: 1;
		img {
			width: 150px;
			height: 150px;
			margin: 0 auto;
			display: block;
		}
	}
}
#cboxOverlay {
	background: #2e3346;
	opacity: 0.9;
}
.popups_info {
	display: none;
}


.bottom_gallery {
	.title_bottom_gallery {
		font-size: 15px;
		color: #000108;
		font-family: "Proxima Nova", sans-serif;
		font-weight: 300;
		text-align: center;
		padding: 0px 10px;
		padding-bottom: 29px;
	}
	.bottom_gallery_img {
		position: relative;
		.bottom_gallery_video {
			display: block;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url('../../images/video.svg') center no-repeat;
				background-size: 134px;
				z-index: 1;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(54, 23, 80, 0.8);
				background-size: 134px;
				z-index: 0;
			}
		}
		iframe {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%; 
			display: none;
		}
	}
}

.blue_top_bg {
	position: relative;
	//&:before {
	//	position: absolute;
	//	width: 100%;
	//	height: 100%;
	//	display: block;
	//	content: '';
	//	background: url('../../images/blue_top_bg.png') center top no-repeat;
	//	background-size: 100% auto;
	//}
}

#object-map {
	position: relative;
	z-index: 1;
}

.white_text {
	color: white!important;
}
.purple_text {
	color: #3B0F50 !important;
}

.bottom_select_gallery {
	padding-top: 122px;
	display: flex;
	flex-wrap: wrap;
	.select_gallery {
		width: 25%;
		position: relative;
		display: block;
		overflow: hidden;
		@media screen and (max-width: 999px) {
			width: 50%;
		}
		&:before {
			content: '';
			display: none;
			background: rgba(0, 56, 120, 0.4) url('../../images/open.svg') center no-repeat;
			background-size: 134px;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		&:hover {
			&:before {
				display: block;
			}
			img {
				-webkit-transform: scale(1.4);
				-ms-transform: scale(1.4);
				transform: scale(1.4);
			}
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			transition: .5s;
		}
	}
}