/* line 1, ../sass/header.scss */
.header {
  background: white;
  position: relative;
  height: 66px;
  box-shadow: 0 5px 43px 0 rgba(10, 9, 9, 0.14);
  z-index: 2;
}
@media screen and (max-width: 999px) {
  /* line 1, ../sass/header.scss */
  .header {
    height: 66px;
  }
}
/* line 10, ../sass/header.scss */
.header .logo {
  float: left;
}
/* line 13, ../sass/header.scss */
.header ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  /* line 13, ../sass/header.scss */
  .header ul {
    padding-left: 44px;
  }
}
@media screen and (max-width: 999px) {
  /* line 13, ../sass/header.scss */
  .header ul {
    position: absolute;
    top: 66px;
    left: 0px;
    width: 100%;
    height: calc(100% - 66px);
    display: none;
    padding-left: 0px;
    background: white;
  }
  /* line 31, ../sass/header.scss */
  .header ul.show {
    display: block;
  }
}
/* line 35, ../sass/header.scss */
.header ul li {
  line-height: 66px;
}
@media screen and (max-width: 999px) {
  /* line 35, ../sass/header.scss */
  .header ul li {
    line-height: 60px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* line 44, ../sass/header.scss */
.header ul a {
  font-family: "Proxima Nova Light", sans-serif;
  color: #010211;
  font-size: 15px;
  font-weight: 300;
}
/* line 49, ../sass/header.scss */
.header ul a.active, .header ul a:hover {
  color: #098fbd;
}
/* line 54, ../sass/header.scss */
.header .map_link {
  display: none;
  position: relative;
  top: 23px;
  text-align: center;
  width: 60px;
  margin: 0 auto;
  font-family: "Proxima Nova";
  color: #010211;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
/* line 66, ../sass/header.scss */
.header .map_link.active, .header .map_link:hover {
  color: #003878;
}
@media screen and (max-width: 999px) {
  /* line 54, ../sass/header.scss */
  .header .map_link {
    display: block;
  }
}
/* line 73, ../sass/header.scss */
.header .menu-btn {
  display: none;
  position: absolute;
  right: 21px;
  top: 21px;
}
@media screen and (max-width: 999px) {
  /* line 73, ../sass/header.scss */
  .header .menu-btn {
    display: block;
  }
}
/* line 81, ../sass/header.scss */
.header .menu-btn .open-menu-btn {
  display: none;
}
/* line 83, ../sass/header.scss */
.header .menu-btn .open-menu-btn.show {
  display: block;
}
/* line 86, ../sass/header.scss */
.header .menu-btn .open-menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 7px;
  background-color: #2e3346;
}
/* line 94, ../sass/header.scss */
.header .menu-btn .close-menu__btn {
  position: relative;
  display: none;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  cursor: pointer;
  right: 2px;
  top: -2px;
}
/* line 103, ../sass/header.scss */
.header .menu-btn .close-menu__btn.show {
  display: inline-block;
}
/* line 106, ../sass/header.scss */
.header .menu-btn .close-menu__btn span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 3px;
  background-color: #2e3346;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s ease-in .3s;
  -moz-transition: .3s ease-in .3s;
  -ms-transition: .3s ease-in .3s;
  -o-transition: .3s ease-in .3s;
  transition: .3s ease-in .3s;
}
/* line 128, ../sass/header.scss */
.header .menu-btn .close-menu__btn.show span:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 135, ../sass/header.scss */
.header .menu-btn .close-menu__btn.show span:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
