/* line 2, ../sass/history.scss */
.history .top_block.white .go_front {
  border-color: #A1A6AF;
  color: #A1A6AF;
}
/* line 6, ../sass/history.scss */
.history .pagination {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
/* line 10, ../sass/history.scss */
.history .pagination li {
  margin: 0px 4px;
  display: inline-block;
}
/* line 13, ../sass/history.scss */
.history .pagination li a {
  font-size: 15px;
  line-height: 38px;
  width: 42px;
  display: inline-block;
  border: 1px solid #A1A6AF;
  color: #010211;
  padding: 0px;
  text-align: center;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
/* line 27, ../sass/history.scss */
.history .pagination li.active a, .history .pagination li.active a:hover {
  color: white;
  background: #3B0F50;
  border: 1px solid #3B0F50;
}
/* line 34, ../sass/history.scss */
.history .pagination li:hover a {
  background: #eee;
  border: 1px solid #A1A6AF;
}
/* line 41, ../sass/history.scss */
.history .history-header {
  margin-top: -133px;
  background: url("../../images/history/history_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 220px;
}
/* line 47, ../sass/history.scss */
.history .history-header .container_inner {
  position: relative;
}
/* line 49, ../sass/history.scss */
.history .history-header .container_inner .social-wrap {
  position: absolute;
  top: calc(100% + 40px);
  right: calc(100% + 40px);
}
/* line 53, ../sass/history.scss */
.history .history-header .container_inner .social-wrap a {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  background: #361750;
  margin-bottom: 1px;
  color: #fff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
/* line 66, ../sass/history.scss */
.history .history-header .container_inner .social-wrap a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 77, ../sass/history.scss */
.history .history-header .container_inner .social-wrap a:hover {
  background: #b99c2d;
}
/* line 82, ../sass/history.scss */
.history .history-header h1 {
  text-align: center;
  font: 60px 'Proxima Nova Regular', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 3px;
  text-shadow: 2px 6px 0 #3B1050;
}
/* line 92, ../sass/history.scss */
.history .history-header h1::after {
  content: '';
  display: block;
  width: 70px;
  height: 6px;
  background: #C59D17;
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  /* line 101, ../sass/history.scss */
  .history .history-header h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
/* line 106, ../sass/history.scss */
.history .history-header p {
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
/* line 112, ../sass/history.scss */
.history .history-header .btn-wrap {
  padding: 80px 0;
}
/* line 115, ../sass/history.scss */
.history .history-header .btn-down {
  position: relative;
  display: block;
  width: 28px;
  height: 44px;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid #C59D17;
  color: #C59D17;
  font-size: 17px;
  cursor: pointer;
}
/* line 126, ../sass/history.scss */
.history .history-header .btn-down i {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 134, ../sass/history.scss */
.history .history-content {
  padding-top: 80px;
}
/* line 136, ../sass/history.scss */
.history .history-content img {
  display: block;
  width: 100%;
}
/* line 140, ../sass/history.scss */
.history .history-content .urls {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 144, ../sass/history.scss */
.history .history-content .urls li:not(:last-child) {
  margin-bottom: 5px;
}
/* line 147, ../sass/history.scss */
.history .history-content .urls a {
  color: #00A2D6;
}
/* line 151, ../sass/history.scss */
.history .history-content .urls::after {
  content: '';
  display: block;
  width: 70px;
  height: 6px;
  background: #C59D17;
  margin: 50px 0;
}
/* line 159, ../sass/history.scss */
.history .history-content .btn-wrap .btn {
  font-size: 15px;
  border-radius: 0px;
  line-height: 39px;
  padding: 0px 18px;
  border-color: #C59D17;
  background: #C59D17;
}
/* line 168, ../sass/history.scss */
.history .history-content .history-block h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font: 38px 'Proxima Nova Regular';
  font-weight: bold;
  color: #00A2D6;
  letter-spacing: 1px;
}
/* line 176, ../sass/history.scss */
.history .history-content .history-block p {
  margin-bottom: 30px;
  font: 18px 'Proxima Nova Regular', sans-serif;
  line-height: 25px;
}
/* line 180, ../sass/history.scss */
.history .history-content .history-block p strong {
  font-family: 'Proxima Nova Bl', sans-serif;
}
/* line 185, ../sass/history.scss */
.history .history-content .h-t_with-imgR {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 194, ../sass/history.scss */
.history .history-content .h-t_with-imgR > div:nth-child(1) {
  width: 42%;
}
/* line 197, ../sass/history.scss */
.history .history-content .h-t_with-imgR > div:nth-child(2) {
  width: calc(55% + 50px);
  margin-right: -50px;
}
/* line 202, ../sass/history.scss */
.history .history-content .h-t_with-imgL {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 211, ../sass/history.scss */
.history .history-content .h-t_with-imgL > div:nth-child(1) {
  width: 50%;
}
/* line 214, ../sass/history.scss */
.history .history-content .h-t_with-imgL > div:nth-child(2) {
  width: 48%;
}
/* line 218, ../sass/history.scss */
.history .history-content .h-t_caption {
  display: block;
  max-width: 60%;
  margin-top: 20px;
  font-family: 'Proxima Nova Light', sans-serif;
  font-style: italic;
}
/* line 225, ../sass/history.scss */
.history .history-content .with-btn {
  position: relative;
}
/* line 227, ../sass/history.scss */
.history .history-content .with-btn .btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
/* line 232, ../sass/history.scss */
.history .history-content .with-btn .btn.btn-warning {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #F3BA00;
  color: #F3BA00;
}
/* line 239, ../sass/history.scss */
.history .history-content .with-btn .btn.btn-warning i {
  margin-left: 10px;
}
/* line 244, ../sass/history.scss */
.history .history-content .purple-wrap {
  margin: 30px 0;
}
/* line 246, ../sass/history.scss */
.history .history-content .purple-wrap .purple-block {
  position: relative;
  float: right;
  width: 70%;
  padding: 20px 80px 20px 140px;
  margin-right: -50px;
  border: 5px solid #3B1050;
}
/* line 253, ../sass/history.scss */
.history .history-content .purple-wrap .purple-block ::before {
  content: 'i';
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  border: 2px solid #3B1050;
  text-align: center;
}
/* line 266, ../sass/history.scss */
.history .history-content .purple-wrap .purple-block p {
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 30px;
}
/* line 275, ../sass/history.scss */
.history .history-content .purple-wrap::after {
  content: '';
  display: block;
  clear: both;
}
/* line 280, ../sass/history.scss */
.history .history-content .only-img {
  margin: 30px -50px;
}
/* line 282, ../sass/history.scss */
.history .history-content .only-img .btn {
  left: 50px;
}
/* line 285, ../sass/history.scss */
.history .history-content .only-img .h-t_caption {
  margin-left: 50px;
  max-width: 55%;
}
/* line 290, ../sass/history.scss */
.history .history-content .full-img {
  display: inline-block;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
}
/* line 299, ../sass/history.scss */
.history .history-content .full-img .full-img_caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
/* line 306, ../sass/history.scss */
.history .history-content .full-img::before {
  content: '';
  float: left;
  padding-top: 40%;
}
/* line 311, ../sass/history.scss */
.history .history-content .slider_history {
  margin-bottom: 30px;
}
/* line 313, ../sass/history.scss */
.history .history-content .slider_history .h-t_caption {
  max-width: 95%;
}
/* line 316, ../sass/history.scss */
.history .history-content .slider_history .owl-dots {
  position: absolute;
  top: 82%;
  right: 30px;
}
/* line 321, ../sass/history.scss */
.history .history-content .slider_history .owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #F3B900;
  margin-right: 15px;
}
/* line 331, ../sass/history.scss */
.history .history-content .slider_history .owl-dot:last-child {
  margin-right: 0;
}
/* line 334, ../sass/history.scss */
.history .history-content .slider_history .owl-dot.active {
  background: #00A2D6;
}
/* line 338, ../sass/history.scss */
.history .history-content .gallery-block2 {
  margin-bottom: 30px;
}
/* line 340, ../sass/history.scss */
.history .history-content .gallery-block2 .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
/* line 345, ../sass/history.scss */
.history .history-content .gallery-block2 .owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #F3B900;
  margin-right: 15px;
}
/* line 355, ../sass/history.scss */
.history .history-content .gallery-block2 .owl-dot:last-child {
  margin-right: 0;
}
/* line 358, ../sass/history.scss */
.history .history-content .gallery-block2 .owl-dot.active {
  background: #00A2D6;
}
/* line 363, ../sass/history.scss */
.history .top_block .social {
  display: none;
}

@media screen and (max-width: 1150px) {
  /* line 368, ../sass/history.scss */
  .history .history-header .container_inner .social-wrap {
    top: calc(100% + 20px);
    right: auto;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
  }
  /* line 378, ../sass/history.scss */
  .history .history-header .container_inner .social-wrap a {
    margin-right: 1px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 384, ../sass/history.scss */
  .history .history-content .purple-wrap .purple-block {
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  /* line 390, ../sass/history.scss */
  .container_inner {
    padding: 0 20px;
  }

  /* line 393, ../sass/history.scss */
  .history .history-content .only-img .h-t_caption {
    padding: 0 20px;
  }

  /* line 396, ../sass/history.scss */
  .history .history-header .container_inner .social-wrap {
    left: 20px;
  }

  /* line 399, ../sass/history.scss */
  .gallery-block {
    margin: 0 -20px;
    width: calc(100% + 40px);
  }
  /* line 402, ../sass/history.scss */
  .gallery-block .h-t_caption {
    padding: 0 20px;
  }

  /* line 406, ../sass/history.scss */
  .history .history-content .slider_history .owl-dots {
    top: 30px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@media screen and (max-width: 768px) {
  /* line 417, ../sass/history.scss */
  .history .history-content .h-t_with-imgR > div:nth-child(1),
  .history .history-content .h-t_with-imgR > div:nth-child(2),
  .history .history-content .h-t_with-imgL > div:nth-child(1),
  .history .history-content .h-t_with-imgL > div:nth-child(2) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  /* line 425, ../sass/history.scss */
  .history .history-content .h-t_with-imgR > div:nth-child(2),
  .history .history-content .h-t_with-imgL > div:nth-child(1) {
    margin-right: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  /* line 430, ../sass/history.scss */
  .history .history-content .h-t_with-imgR > div:nth-child(2) .h-t_caption,
  .history .history-content .h-t_with-imgL > div:nth-child(1) .h-t_caption {
    padding: 0 20px;
  }

  /* line 434, ../sass/history.scss */
  .history .history-content .purple-wrap .purple-block {
    padding: 20px 20px 20px 75px;
  }
}
