/* line 2, ../sass/law.scss */
.law .top_block.white .go_front {
  border-color: #A1A6AF;
  color: #A1A6AF;
}
/* line 6, ../sass/law.scss */
.law .law-header {
  margin-top: -133px;
  background: url("../../images/law.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 270px;
}
/* line 12, ../sass/law.scss */
.law .law-header .container_inner {
  position: relative;
}
/* line 14, ../sass/law.scss */
.law .law-header .container_inner .social-wrap {
  position: absolute;
  top: calc(100% + 40px);
  right: calc(100% + 40px);
}
/* line 18, ../sass/law.scss */
.law .law-header .container_inner .social-wrap a {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  background: #361750;
  margin-bottom: 1px;
  color: #fff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
/* line 31, ../sass/law.scss */
.law .law-header .container_inner .social-wrap a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 42, ../sass/law.scss */
.law .law-header .container_inner .social-wrap a:hover {
  background: #b99c2d;
}
/* line 47, ../sass/law.scss */
.law .law-header h1 {
  text-align: center;
  font: 55px 'Proxima Nova', sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 39px;
  letter-spacing: 1px;
}
/* line 55, ../sass/law.scss */
.law .law-header h1::after {
  content: '';
  display: block;
  width: 70px;
  height: 6px;
  background: #C59D17;
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/law.scss */
  .law .law-header h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
/* line 69, ../sass/law.scss */
.law .law-header p {
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 76, ../sass/law.scss */
  .law .law-header p {
    padding: 0 20px;
  }
}
/* line 80, ../sass/law.scss */
.law .law-header .btn-wrap {
  padding: 80px 0;
}
/* line 83, ../sass/law.scss */
.law .law-header .btn-down {
  position: relative;
  display: block;
  width: 28px;
  height: 44px;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid #C59D17;
  color: #C59D17;
  font-size: 17px;
  cursor: pointer;
}
/* line 94, ../sass/law.scss */
.law .law-header .btn-down i {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 102, ../sass/law.scss */
.law .law-content {
  padding-top: 80px;
}
/* line 104, ../sass/law.scss */
.law .law-content .urls {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 108, ../sass/law.scss */
.law .law-content .urls li:not(:last-child) {
  margin-bottom: 5px;
}
/* line 111, ../sass/law.scss */
.law .law-content .urls a {
  color: #00A2D6;
}
/* line 115, ../sass/law.scss */
.law .law-content .urls::after {
  content: '';
  display: block;
  width: 70px;
  height: 6px;
  background: #C59D17;
  margin: 30px 0;
}
/* line 123, ../sass/law.scss */
.law .law-content .facts {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}
/* line 127, ../sass/law.scss */
.law .law-content .facts li:not(:last-child) {
  margin-bottom: 5px;
}
/* line 131, ../sass/law.scss */
.law .law-content .btn-wrap .btn {
  font-size: 15px;
  border-radius: 0px;
  line-height: 39px;
  padding: 0px 18px;
  border-color: #C59D17;
  background: #C59D17;
}
/* line 139, ../sass/law.scss */
.law .law-content .pagination {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
/* line 143, ../sass/law.scss */
.law .law-content .pagination li.prev a,
.law .law-content .pagination li.prev span {
  background: transparent;
  font-size: 20px;
}
/* line 148, ../sass/law.scss */
.law .law-content .pagination li.next a,
.law .law-content .pagination li.next a {
  background: transparent;
  font-size: 20px;
}
/* line 153, ../sass/law.scss */
.law .law-content .pagination li {
  margin: 0px 4px;
  display: inline-block;
}
/* line 156, ../sass/law.scss */
.law .law-content .pagination li a {
  font-size: 15px;
  line-height: 38px;
  width: 42px;
  display: inline-block;
  border: 1px solid #A1A6AF;
  color: #010211;
  padding: 0px;
  text-align: center;
}
/* line 167, ../sass/law.scss */
.law .law-content .pagination li.active a {
  color: white;
  background: #3B0F50;
  border: 1px solid #3B0F50;
}
/* line 174, ../sass/law.scss */
.law .law-content .pagination li.next a, .law .law-content .pagination li.prev a {
  border: 1px solid transparent;
}
/* line 177, ../sass/law.scss */
.law .law-content .pagination li.next span, .law .law-content .pagination li.prev span {
  border: 1px solid transparent;
  line-height: 38px;
  width: 38px;
  text-align: center;
  display: inline-block;
  padding: 0px;
}
/* line 188, ../sass/law.scss */
.law .law-content .law-text {
  margin-top: 70px;
}
/* line 190, ../sass/law.scss */
.law .law-content .law-text h2 {
  margin-bottom: 30px;
  font: 35px 'Proxima Nova Regular';
  font-weight: bold;
  color: #00A2D6;
  letter-spacing: 1px;
}
/* line 197, ../sass/law.scss */
.law .law-content .law-text p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}
/* line 203, ../sass/law.scss */
.law .law-content .law-text ul, .law .law-content .law-text ol {
  margin: 0;
  padding: 0 0 0 25px;
  list-style: decimal;
}
/* line 207, ../sass/law.scss */
.law .law-content .law-text ul li, .law .law-content .law-text ol li {
  margin-bottom: 25px;
}
/* line 209, ../sass/law.scss */
.law .law-content .law-text ul li p, .law .law-content .law-text ol li p {
  margin-bottom: 0;
}

/* line 218, ../sass/law.scss */
.law .top_block .social {
  display: none;
}

@media screen and (max-width: 1150px) {
  /* line 223, ../sass/law.scss */
  .law .law-header .container_inner .social-wrap {
    top: calc(100% + 20px);
    right: auto;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
  }
  /* line 233, ../sass/law.scss */
  .law .law-header .container_inner .social-wrap a {
    margin-right: 1px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 239, ../sass/law.scss */
  .container_inner {
    padding: 0 20px;
  }

  /* line 242, ../sass/law.scss */
  .law .law-header .container_inner .social-wrap {
    left: 20px;
  }
}
