/* line 1, ../sass/uw.scss */
.clear {
  clear: both;
}

/* line 4, ../sass/uw.scss */
body {
  min-width: 480px;
}

/* line 8, ../sass/uw.scss */
.top_block {
  padding-top: 51px;
  text-align: center;
  position: relative;
  min-height: 113px;
}
/* line 13, ../sass/uw.scss */
.top_block .tass_logo {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 21, ../sass/uw.scss */
.top_block.white .social a {
  color: white;
}
/* line 25, ../sass/uw.scss */
.top_block.white .go_front {
  color: #a1a4ad;
  border: 1px solid #a1a4ad;
}
/* line 30, ../sass/uw.scss */
.top_block .social {
  float: right;
  position: absolute;
  right: 2px;
  top: 36px;
}
/* line 35, ../sass/uw.scss */
.top_block .social a {
  margin-left: 38px;
  color: #003878;
  font-size: 17px;
  transition: all 0.3s linear;
}
/* line 40, ../sass/uw.scss */
.top_block .social a:nth-child(1) {
  margin-left: 0px;
}
/* line 43, ../sass/uw.scss */
.top_block .social a:hover {
  color: #E1C6A9;
}
@media screen and (max-width: 999px) {
  /* line 30, ../sass/uw.scss */
  .top_block .social {
    float: right;
    position: absolute;
    right: 29px;
    top: 34px;
    text-align: right;
    width: 119px;
  }
  /* line 54, ../sass/uw.scss */
  .top_block .social a {
    display: inline-block;
    margin-bottom: 27px;
  }
}
/* line 60, ../sass/uw.scss */
.top_block .go_front {
  border: 1px solid #a1a4ad;
  color: #010211;
  position: relative;
  top: 29px;
  line-height: 38px;
  display: inline-block;
  padding: 0px 42px;
  position: relative;
}
/* line 69, ../sass/uw.scss */
.top_block .go_front i {
  margin-right: 10px;
  position: relative;
  top: 2px;
  font-size: 22px;
}

/* line 77, ../sass/uw.scss */
.container_inner {
  width: 934px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 933px) {
  /* line 77, ../sass/uw.scss */
  .container_inner {
    width: 100%;
  }
}

/* line 87, ../sass/uw.scss */
.wrap {
  background: #eeeff1;
}

/* line 92, ../sass/uw.scss */
.grid_wrap {
  margin-top: 62px;
  background: white;
  padding-top: 13px;
}

/* line 98, ../sass/uw.scss */
#cboxContent {
  background: none;
}

/* line 101, ../sass/uw.scss */
#cboxLoadedContent {
  background: none;
}

/* line 104, ../sass/uw.scss */
#cboxTitle {
  display: none;
}

/* line 108, ../sass/uw.scss */
.gallery_popup img {
  max-width: 100%;
  height: auto;
}
/* line 112, ../sass/uw.scss */
.gallery_popup .popup_text {
  font-size: 30px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-weight: 300;
  padding-top: 46px;
}
/* line 119, ../sass/uw.scss */
.gallery_popup .close {
  float: none;
  padding-top: 20px;
  opacity: 1;
}
/* line 123, ../sass/uw.scss */
.gallery_popup .close img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

/* line 131, ../sass/uw.scss */
#cboxOverlay {
  background: #2e3346;
  opacity: 0.9;
}

/* line 135, ../sass/uw.scss */
.popups_info {
  display: none;
}

/* line 141, ../sass/uw.scss */
.bottom_gallery .title_bottom_gallery {
  font-size: 15px;
  color: #000108;
  font-family: "Proxima Nova";
  font-weight: 300;
  text-align: center;
  padding: 0px 10px;
  padding-bottom: 29px;
}
/* line 150, ../sass/uw.scss */
.bottom_gallery .bottom_gallery_img {
  position: relative;
}
/* line 152, ../sass/uw.scss */
.bottom_gallery .bottom_gallery_img .bottom_gallery_video {
  display: block;
}
/* line 154, ../sass/uw.scss */
.bottom_gallery .bottom_gallery_img .bottom_gallery_video img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 159, ../sass/uw.scss */
.bottom_gallery .bottom_gallery_img .bottom_gallery_video:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 56, 120, 0.4) url("../../images/video.svg") center no-repeat;
  background-size: 134px;
}
/* line 168, ../sass/uw.scss */
.bottom_gallery .bottom_gallery_img iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

/* line 179, ../sass/uw.scss */
.blue_top_bg {
  position: relative;
}
/* line 181, ../sass/uw.scss */
.blue_top_bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background: url("../../images/blue_top_bg.png") center top no-repeat;
  background-size: 100% auto;
}

/* line 192, ../sass/uw.scss */
#object-map {
  position: relative;
  z-index: 1;
}

/* line 197, ../sass/uw.scss */
.white_text {
  color: white !important;
}

/* line 201, ../sass/uw.scss */
.bottom_select_gallery {
  padding-top: 122px;
  display: flex;
  flex-wrap: wrap;
}
/* line 205, ../sass/uw.scss */
.bottom_select_gallery .select_gallery {
  width: 25%;
  position: relative;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 999px) {
  /* line 205, ../sass/uw.scss */
  .bottom_select_gallery .select_gallery {
    width: 50%;
  }
}
/* line 213, ../sass/uw.scss */
.bottom_select_gallery .select_gallery:before {
  content: '';
  display: none;
  background: rgba(0, 56, 120, 0.4) url("../../images/open.svg") center no-repeat;
  background-size: 134px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 224, ../sass/uw.scss */
.bottom_select_gallery .select_gallery:hover:before {
  display: block;
}
/* line 227, ../sass/uw.scss */
.bottom_select_gallery .select_gallery:hover img {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
/* line 233, ../sass/uw.scss */
.bottom_select_gallery .select_gallery img {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s;
}
