body {
	font-family: "Proxima Nova";  
}

.clear {
	clear: both;
}

.container_inner {
	width: 934px;
	margin: 0 auto;
}

.timeline-bg {
	background: #dddedf;
  	background: -webkit-linear-gradient(left, #dddedf , #edeef0);
  	background: -o-linear-gradient(right, #dddedf, #edeef0);
  	background: -moz-linear-gradient(right, #dddedf, #edeef0);
  	background: linear-gradient(to right, #dddedf , #edeef0);
    position: absolute;
    width: 100%;
}

.top_block {
	font-family: "Proxima Nova Thin";
	padding-top: 51px;
	text-align: center;
	a {
		text-decoration: none;
	}

	.tass_logo {
		float: left;
	}

	.social {
		float: right;
		padding-top: 33px;
		padding-right: 4px;

		.fb_white {
            display: inline-block;
			background: url('../images/fb_ico_white.png') center no-repeat;
			width: 20px;
            height: 20px;
            margin-right: 30px;
		}

		.vk_white {
            display: inline-block;
			background: url('../images/vk_ico_white.png') center no-repeat;
			width: 20px;
            height: 20px;
		}
	}

	.go_front {
		border: 1px solid #fff;
	    color: #fff;
	    position: relative;
	    top: 29px;
	    line-height: 38px;
	    display: inline-block;
	    padding: 0px 42px;
		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 13px;
			position: absolute;
		    top: 12px;
		    left: 25px;
			background: url('../images/arrow_left_ico_white.png') center bottom no-repeat;
		}
	}
}

.timeline {
    color: #010211;
    position: relative;
	
	h1 {
		text-align: center;
		font-family: "Proxima Nova Bold";
		font-size: 40px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		margin-top: 73px;
		margin-bottom: 19px;
		line-height: 39px;
	}
    
    #section0 {
		height: 1050px;

			.sliderbox {
				display: flex;
    			flex-direction: row;
				margin-top: 40px;
				
				.item {
					cursor: pointer;
				    -webkit-transition: margin-left .5s ease-out;
				       -moz-transition: margin-left .5s ease-out;
				         -o-transition: margin-left .5s ease-out;
					        transition: margin-left .5s ease-out;
					
					.date {
						padding: 30px 0 0 30px;
						height: 100px;
						.date-item {
							color: #dbc8ae;
							font-size: 18px;
							line-height: 24px;	
							font-weight: 600;
						}
					}

					&.active > .date {
						padding-top: 0px;
					}
				
					&.active > .date > .date-item {
						font-size: 40px;
						line-height: 40px;
					}

					.hr {
						border: 1.6px solid #dbc8ae;
					}

					.description {
				    	margin: 0 100px 0 0;
						min-width: 510px;
						max-width: 600px;
						height: 500px;
				    	background: #fff;

						.circle {
							display: none;
							&.active {
								display: unset;
								top: 44%;
								position: absolute;
								border: 2px solid #dbc8ae;
								border-radius: 50%;
								cursor: pointer;
								font-family: "Proxima Nova Bold";							
								font-size: 20px;
								line-height: 50px;
								text-align: center;
								height: 125px;
								width: 125px;
								&.fl {
									margin-left: -65px;
								}
								&.fr {
									margin-left: 445px;
								}
								.prev {
									border-radius: 50%;
									background-color: #dbc8ae;
									height: 50px;
									width: 50px;
									margin: 35px;
									&:hover {
										transform: scale(1.25);
									}
								}
								.next {
									border-radius: 50%;
									background-color: #dbc8ae;
									height: 50px;
									width: 50px;
									margin: 35px;
									&:hover {
										transform: scale(1.25);
									}							
								}
							}
						}
						.dot {
							position: absolute;
    						background-color: #fff;
    						border: 3px solid #dbc8ae;
    						border-radius: 18px;
    						height: 26px;
    						width: 26px;
    						margin: -13px 0 0 15px;					
						}

						.dot + p {
							padding-top: 40px;
							padding-bottom: 20px;
						}

						p {
						    font-family: "Proxima Nova Light";
						    font-size: 18px;
						    line-height: 30px;
							padding: 0 30px;
							margin: 0;
						}
					}
				}
			}

			.sliderbox:first-child {
				margin-left: 225px;
			}
	}
	
	#section1 {
		background: url('../images/timeline_section1.png') center top no-repeat;
		width: 100%;

		.hover {
			background: #003878;
			opacity: 0.65;
			width: 100%;
			height: 790px;		
		}
	}
}

$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}